@{
    ViewData["Title"] = "Client";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-5 bg-success">
            <p>Lorem ipsum...</p>
        </div>
        <div class="col-7 bg-warning">
            <p>Sed ut perspiciatis...</p>
        </div>
    </div>
</div>