@model IsoBase.ViewModels.CreatePicCodeVM
@{
    ViewData["Title"] = "PIC Code List";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{ public string GetAntiXsrfRequestToken() { return Xsrf.GetAndStoreTokens(Context).RequestToken; }}

<style>
    tr > th > input[type=text]:first-child {
        width: 100%;
    }
</style>

<table id="myTable" class="table table-bordered">
    <thead class="ui-widget-header">
        <tr>
            <th>No</th>
            <th>PicDesc</th>
            <th>Remark</th>
            <th>IsActive</th>
            <th>CreateBy</th>
            <th>CreateOn</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>
<a id="createnew" class="btn btn-success" >Add New</a>

<script>
$(document).ready(function () {
    $('#myTable').dataTable({
        buttons: [],
        "jQueryUI": true,
        initComplete: function () {
            var r = $('#myTable tfoot tr');
            $('#myTable thead').append(r);
            $('#search_0').css('text-align', 'center');
            this.api().columns([3]).every(function () {
                var column = this;
                var select = $('<select><option value=""> ... </option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        column.search(this.value).draw();
                    });
                select.append('<option value="1">Active</option>');
                select.append('<option value="0">InActive</option>');
            });
        },
        dom: '<"top"B>tr<"bottom"ip>',
        ajax: {
            "url": "@Url.Action("ListPicCodeAll")",
            "type": "POST",
            data: {
                __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
            },
        },
// ====================================================KONFIG KOLOM DATA==============================================================
        columns: [
            { data: null,"width": "5px",className: "dt-right",
                    render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; }
            },
            { data: "picDesc" },
            { data: "remark" },
            { data: "isActive" },
            { data: "userCreate" },
            { data: "dateCreate" },
        ],
        "order": [[ 1, "asc" ]],
        "columnDefs": [
                { "orderable": false, "targets": [0] },
        ]
// ====================================================END CONFIG KOLOM DATA==============================================================

// ====================================================END DATATABLES Config==============================================================
    });
    // DataTable
    var table = $('#myTable').DataTable();
    /* Apply the search for individual columns*/
    $('#myTable tfoot th').filter(":eq(1),:eq(2),:eq(3)").each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder=" ... " />');
    });

    table.columns().every(function () {
        var that = this;
        $('input', this.footer()).on('focusout', function () {
            if (that.search() !== this.value) {
                that.search(this.value).draw();
            }
        });
        $('input', this.footer()).on('keyup change', function (ev) {
            if (ev.keyCode == 13) { //only on enter keypress (code 13)
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            }
        });
    });

    $('#createnew').click(function () {
        var url = '@Url.Action("Create","PicCode")';
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#myModal").modal('show');
        });
    });

    $('#myTable tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
});
</script>
