
@{
    ViewData["Title"] = "Benefit Codes";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{ public string GetAntiXsrfRequestToken() { return Xsrf.GetAndStoreTokens(Context).RequestToken; }}

<style>
    tr > th > input[type=text]:first-child { width: 100%; }
</style>

<table id="myTable" class="display cell-border">
    <thead class="ui-widget-header">
        <tr>
            <th>No</th>
            <th>BenefitID</th>
            <th>Code</th>
            <th>Description</th>
            <th>IsActive</th>
            <th>UserCreate</th>
            <th>DateCreate</th>
            <th>UserUpdate</th>
            <th>DateUpdate</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>

<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            "jQueryUI": true,
            buttons: [],
            initComplete: function () {
                var r = $('#myTable tfoot tr');
                $('#myTable thead').append(r);
                $('#search_0').css('text-align', 'center');
                this.api().columns([4]).every(function () {
                    var column = this;
                    var select = $('<select><option value=""> ... </option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            column.search(this.value).draw();
                        });
                    select.append('<option value="Active">Active</option>');
                    select.append('<option value="InActive">InActive</option>');
                });
            },
            dom: '<"top"B>tr<"bottom"ip>',
            ajax: {
                "url": "@Url.Action("ListBenefitAll")",
                "type": "POST",
                data: {
                    __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                },
            },
// ====================================================KONFIG KOLOM DATA==============================================================
            columns: [
                { data: null, "width": "5px", className: "dt-right",},
                { data: "id",  "width": "7px", className: "dt-right" ,"width": "50px",},
                { data: "code" },
                { data: "description"},
                { data: "isActive" },
                { data: "userCreate" },
                { data: "dateCreate" },
                { data: "userUpdate" },
                { data: "dateUpdate" },
            ],
            "order": [[ 1, "asc" ]],
            "columnDefs": [
                    { "orderable": false, "targets": [0] },
            ]
// ====================================================END CONFIG KOLOM DATA==============================================================

// ====================================================END DATATABLES Config==============================================================
        });
        // DataTable
        var table = $('#myTable').DataTable();
        /// Kolom No urut agar tidak ikut di berubah saat sorting
        /// tidak berlaku untuk server side
        table.on('order.dt search.dt', function () {
            table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) { cell.innerHTML = i+1; } );
        }).draw();

        /* Apply the search for individual columns*/
        $('#myTable tfoot th').filter(":eq(1),:eq(2),:eq(3),:eq(4)").each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  placeholder=" ... " />');
        });

        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('focusout', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
            $('input', this.footer()).on('keyup change', function (ev) {
                that.search(this.value).draw();
            });
        });

        $('#myTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });
</script>