@model IsoBase.Models.KalenderOperationalModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KalenderOperationalModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tgl" class="control-label"></label>
                <input asp-for="Tgl" class="form-control" />
                <span asp-validation-for="Tgl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayNumMonth" class="control-label"></label>
                <input asp-for="DayNumMonth" class="form-control" />
                <span asp-validation-for="DayNumMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayNumYear" class="control-label"></label>
                <input asp-for="DayNumYear" class="form-control" />
                <span asp-validation-for="DayNumYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayNameEn" class="control-label"></label>
                <input asp-for="DayNameEn" class="form-control" />
                <span asp-validation-for="DayNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayNameInd" class="control-label"></label>
                <input asp-for="DayNameInd" class="form-control" />
                <span asp-validation-for="DayNameInd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthYear" class="control-label"></label>
                <input asp-for="MonthYear" class="form-control" />
                <span asp-validation-for="MonthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthNameEn" class="control-label"></label>
                <input asp-for="MonthNameEn" class="form-control" />
                <span asp-validation-for="MonthNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthNameInd" class="control-label"></label>
                <input asp-for="MonthNameInd" class="form-control" />
                <span asp-validation-for="MonthNameInd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearNumber" class="control-label"></label>
                <input asp-for="YearNumber" class="form-control" />
                <span asp-validation-for="YearNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHoliday" /> @Html.DisplayNameFor(model => model.IsHoliday)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserCreate" class="control-label"></label>
                <input asp-for="UserCreate" class="form-control" />
                <span asp-validation-for="UserCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" class="form-control" />
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserUpdate" class="control-label"></label>
                <input asp-for="UserUpdate" class="form-control" />
                <span asp-validation-for="UserUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdate" class="control-label"></label>
                <input asp-for="DateUpdate" class="form-control" />
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
