@model IsoBase.Models.ClientMasterModels

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientMasterModels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientID" />
            <div class="form-group">
                <label asp-for="ClientCode" class="control-label"></label>
                <input asp-for="ClientCode" class="form-control" />
                <span asp-validation-for="ClientCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientTypeID" class="control-label"></label>
                <input asp-for="ClientTypeID" class="form-control" />
                <span asp-validation-for="ClientTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCreate" class="control-label"></label>
                <input asp-for="UserCreate" class="form-control" />
                <span asp-validation-for="UserCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" class="form-control" />
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserUpdate" class="control-label"></label>
                <input asp-for="UserUpdate" class="form-control" />
                <span asp-validation-for="UserUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdate" class="control-label"></label>
                <input asp-for="DateUpdate" class="form-control" />
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
