
@{
    ViewData["Title"] = "Enrollment";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{ public string GetAntiXsrfRequestToken() { return Xsrf.GetAndStoreTokens(Context).RequestToken; }}

<style>
    tr > th > input[type=text]:first-child {
        width: 100%;
    }
</style>

<table id="myTable" class="display cell-border">
    <thead class="ui-widget-header">
        <tr>
            <th>No</th>
            <th>ClientID</th>
            <th>Client Code</th>
            <th>Client Name</th>
            <th>Client Type</th>
            <th>Building</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>

<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable({
            "jQueryUI": true,
            buttons: [],
            serverSide: true,
            processing: true,
            initComplete: function () {
                var r = $('#myTable tfoot tr');
                $('#myTable thead').append(r);
                $('#search_0').css('text-align', 'center');

                this.api().columns([4]).every(function () {
                    var column = this;
                    var select = $('<select><option value=""> ... </option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            column.search(this.value).draw();
                        });
                    select.append('<option value="1">Insurance</option>');
                    select.append('<option value="2">ASO</option>');
                });
            },
            dom: '<"top"B>tr<"bottom"ip>',
            "ajax": $.fn.dataTable.pipeline( {
                "url": "@Url.Action("ClientActiveAll")",
                data: {
                     __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                },
                pages: 5 // number of pages to cache
            } ),
// ====================================================KONFIG KOLOM DATA==============================================================
            columns: [
                { data: null,"width": "5px",className: "dt-right",
                    render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; }
                },
                { data: "clientID" },
                { data: "clientCode" },
                { data: "clientName" },
                { data: "clientTypeName" },
                { data: "building" },
                { data: "address" },
                {
                    data: null, className: "dt-center", "width": "10px",
                    render: function (data, type, row, meta) {
                        return '<a href="@Url.Action("Member")?ClientID=' + data.clientID + '"><i class="fas fa-id-card-alt fa-lg" title="Enroll Member"></i></a> &nbsp;&nbsp;' + 
                            ' <a href="@Url.Action("Plan")?ClientID=' + data.clientID + '"><i class="fas fa-notes-medical fa-lg text-success" title="Enroll Plan"></i></a>';
                    }
                },
            ],
            "order": [[ 1, "asc" ]],
            "columnDefs": [
                { "orderable": false, "targets": [0, 7] },
            ]
// ====================================================END CONFIG KOLOM DATA==============================================================

// ====================================================END DATATABLES Config==============================================================
        });
        // DataTable
        var table = $('#myTable').DataTable();
        /* Apply the search for individual columns*/
        $('#myTable tfoot th').filter(":eq(1),:eq(2),:eq(3),:eq(4),:eq(5),:eq(6)").each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  placeholder=" ... " />');
        });

        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('focusout', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
            $('input', this.footer()).on('keyup change', function (ev) {
                if (ev.keyCode == 13) { //only on enter keypress (code 13)
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                }
            });
        });

        $('#myTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });
</script>