@model IsoBase.Models.ClientModel

@{
    ViewData["Title"] = "Upload Plan : " + Model.Name.ToUpper();
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{ public string GetAntiXsrfRequestToken() { return Xsrf.GetAndStoreTokens(Context).RequestToken; }}

<section id="tabs" class="project-tab">
    <!-- Nav pills -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#home">Plan</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#menu1">Coverage</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#menu2">Benefit</a></li>
        <li class="nav-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li class="nav-item">
            <div align="center">
                <button type="button" class="btn btn-dark" >Upload Txt</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalExcel">Upload Excel</button>
            </div>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="tab-pane active">
            <table class="table" cellspacing="0" id="table_plan">
                <thead>
                    <tr>
                        <th>Client PlanID</th>
                        <th>Plan ShortName</th>
                        <th>Plan LongName</th>
                        <th>Frequency</th>
                        <th>Limit</th>
                        <th>Value</th>
                        <th>Active</th>
                        <th>UserCreate</th>
                        <th>DateCreate</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                        <th class="search"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="menu1" class="container tab-pane fade">
        </div>
        <div id="menu2" class="container tab-pane fade">
        </div>
    </div>
</section>

<!-- The Modal Upload Excel -->
<div class="modal fade" id="myModalExcel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Plan Excel</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-action="UploadFilePlan">
                    <input type="hidden" name="ID" asp-for="ID" value="@Model.ID" />
                    <div class="form-group">
                        <div class="file-path-wrapper">
                            <input type="file" name="Fileupload" class="file-path validate">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        $('#table_plan').dataTable({
            "jQueryUI": true,
            serverSide: true,
            processing: true,
            initComplete: function () {
                var r = $('#myTable tfoot tr');
                $('#myTable thead').append(r);
                $('#search_0').css('text-align', 'center');
            },
            dom: '<"top"B>tr<"bottom"ip>',
            "ajax": $.fn.dataTable.pipeline( {
                "url": "@Url.Action("PlanByClientListAll")",
                data: {
                     __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                },
                pages: 5 // number of pages to cache
            } ),
            columns: [
                { data: "clientPlanID" },
                { data: "shortName" },
                { data: "longName" },
                { data: "frequency" },
                { data: "limit" },
                { data: "maxLimitValue" },
                { data: "isActive" },
                { data: "userCreate" },
                { data: "dateCreate" },
            ],
            //"order": [[ 1, "asc" ]],
            //"columnDefs": [
            //    { "orderable": false, "targets": [0, 3] },
            //]
        });

        // DataTable
        var table = $('#table_plan').DataTable();
        /* Apply the search for individual columns*/
        $('#table_plan tfoot th').filter(":eq(1),:eq(2)").each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  placeholder=" ... " />');
        });

        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('focusout', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
            $('input', this.footer()).on('keyup change', function (ev) {
                if (ev.keyCode == 13) { //only on enter keypress (code 13)
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                }
            });
        });

        $('#table_plan tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });
</script>