
@{
    ViewData["Title"] = "Plan Limit";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{ public string GetAntiXsrfRequestToken() { return Xsrf.GetAndStoreTokens(Context).RequestToken; }}

<table id="tablePlan" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>
<table id="tableCoverage" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>
<table id="tableBenefit" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
            <th class="search"></th>
        </tr>
    </tfoot>
</table>


<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });

        $('#myTable').dataTable({
            "jQueryUI": true,
            serverSide: true,
            processing: true,
            initComplete: function () {
                var r = $('#myTable tfoot tr');
                $('#myTable thead').append(r);
                $('#search_0').css('text-align', 'center');
            },
            dom: '<"top"B>tr<"bottom"ip>',
            "ajax": $.fn.dataTable.pipeline( {
                "url": "@Url.Action("ListClientActive")",
                data: {
                     __RequestVerificationToken: '@GetAntiXsrfRequestToken()',
                },
                pages: 5 // number of pages to cache
            } ),
// ====================================================KONFIG KOLOM DATA==============================================================
            columns: [
                { data: "No","width": "5px",className: "dt-right",
                    render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; }
                },
                { data: "clientCode" },
                { data: "clientName" },
            ],
            "order": [[ 1, "asc" ]],
            "columnDefs": [
                { "orderable": false, "targets": [0, 3] },
            ]
// ====================================================END CONFIG KOLOM DATA==============================================================

// ====================================================END DATATABLES Config==============================================================
        });

        // DataTable
        var table = $('#tablePlan').DataTable();
        /* Apply the search for individual columns*/
        $('#tablePlan tfoot th').filter(":eq(1),:eq(2)").each(function () {
            var title = $(this).text();
            $(this).html('<input type="text"  placeholder=" ... " />');
        });

        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('focusout', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
            $('input', this.footer()).on('keyup change', function (ev) {
                if (ev.keyCode == 13) { //only on enter keypress (code 13)
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                }
            });
        });

        $('#tablePlan tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

    });
</script>
